.fieldError {
    color: white;
    background-color: rgba(231, 20, 20, 0.94);
    border: 1px solid;
    padding: 5px;
    text-align: center;
}

.eyePassword {
    width: 20px;
    /*position: absolute;*/
    /*top: 71%;*/
    /*right: 10px;*/
    /*transform: translate(-71%, -10px);*/
}